<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1012424655176-8m504308u2soto6mf12sp3tt4kc0c4jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012424655176-8m504308u2soto6mf12sp3tt4kc0c4jh</string>
	<key>API_KEY</key>
	<string>AIzaSyAa8yjpnMSDMBZ7A2fwla1FIYHMNkmY1Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>1012424655176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teogomes.trackingApp</string>
	<key>PROJECT_ID</key>
	<string>trackmeapp-fdc91</string>
	<key>STORAGE_BUCKET</key>
	<string>trackmeapp-fdc91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012424655176:ios:085092c9877fdabf</string>
	<key>DATABASE_URL</key>
	<string>https://trackmeapp-fdc91.firebaseio.com</string>
</dict>
</plist>